body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #eeeded
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    color: #9ad3bc;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #9ad3bc;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #9ad3bc;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 3%;
    border-width: 6px;
    border-color: #e8e8e8 ;
    margin: 75px auto 0px;
}

p {
    color: #5c6e91;
    line-height: 2;
}

.top-container {
    background-color: #333456;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    padding-top: 60px;
}

.bottom-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #706897;
    font-size: 12px;
}

.God{
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 450px;
}

.top-cloud {
    position: absolute;
    right: 600px;
    top: 50px;
}

.skills {
    padding-top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-sage {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.skill-jett {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #31326f;
    display: inline-block;
    padding: 25px 25px 10px;
}

.contact-me {
    margin-top: 75px;
    padding: 0px 0px 100px;
    display: inline-block;
}

.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
  }
